@font-face {
  font-family: 'Officina Serif';
  font-weight: 400;
  font-style: normal;
  src:
    url('./fonts/officina-serif-book.woff2') format('woff2'),
    url('./fonts/officina-serif-book.woff') format('woff'),
    url('./fonts/officina-serif-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Officina Serif';
  font-weight: 700;
  font-style: normal;
  src:
    url('./fonts/officina-serif-bold.woff2') format('woff2'),
    url('./fonts/officina-serif-bold.woff') format('woff'),
    url('./fonts/officina-serif-bold.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src:
    url('./fonts/robotoregular.woff2') format('woff2'),
    url('./fonts/robotoregular.woff') format('woff'),
    url('./fonts/robotoregular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src:
    url('./fonts/robotobold.woff2') format('woff2'),
    url('./fonts/robotobold.woff') format('woff'),
    url('./fonts/robotobold.ttf') format('truetype');
}
